.nav__list {
    list-style-type: none;
    border-bottom: lightcyan solid 1px;
    padding-bottom: 20px;
    margin: 20px;
}

.nav__element {
    padding-top: 15px;
}

.nav__button {
    background-color: maroon;
    color: mintcream;
    width: 200px;
}

.nav__button--mail {
    width: 200px;
}